<div class="container">
    <h2>Cargos</h2>
  
    <mat-spinner *ngIf="cargando"></mat-spinner>
  
    <table mat-table [dataSource]="cargos" class="mat-elevation-z8" *ngIf="!cargando">
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let cargo"> {{cargo.id}} </td>
      </ng-container>
  
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let cargo"> {{cargo.nombre}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['id', 'nombre']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'nombre'];"></tr>
    </table>
  </div>
  