<mat-card>
    <h2>{{ modoEdicion ? 'Editar' : 'Crear' }} Mercancía</h2>
  
    <form [formGroup]="form" (ngSubmit)="guardar()">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" formControlName="cantidad" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Fecha de ingreso</mat-label>
        <input matInput type="date" formControlName="fechaIngreso" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Usuario Reg.</mat-label>
        <mat-select formControlName="usuarioRegistro">
          <mat-option *ngFor="let user of usuarios" [value]="user">
            {{ user.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Usuario Mod</mat-label>
        <mat-select formControlName="usuarioModificacion">
          <mat-option *ngFor="let user of usuarios" [value]="user">
            {{ user.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <div class="mt-4 flex gap-2">
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
        <button mat-stroked-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </mat-card>
  